---
import SearchBar from './SearchComponent.vue';
---

<nav class="bg-gray-800 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center gap-6">
      <a
        href="/"
        class="text-gray-300 hover:text-white transition-colors flex items-center gap-2"
      >
        <h1 class="text-2xl font-bold text-primary-400">Wobbly Seat 😵💺</h1>
      </a>
      <div class="flex gap-4">
        <a
          href="/watchlist"
          class="text-gray-300 hover:text-white transition-colors flex items-center gap-2"
        >
          Mi Watchlist
        </a>
      </div>
    </div>

    <!-- Nueva SearchBar en el lado derecho -->
    <div class="flex items-center gap-4">
      <!-- Barra de búsqueda compacta -->
      <SearchBar client:load />

      <div class="text-sm text-gray-400 hidden xl:block">Demo técnica</div>
    </div>
  </div>
</nav>
